.article-page-container{
    display: flex;
    justify-content: center;
 
}   

.article-page-container .middle-container{
    background-color: transparent;
    max-width: 850px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lighter-background);
    padding: 2rem;
    margin-top: 5rem;

}

.article-page-container .video-container{
    margin-top: 2rem;
    background-color: var(--lighter-background);
    width: 650px;
    height: 450px;
    align-self: center;
    border: none;
    outline: none;
    position: relative;
}

.article-page-container .article-info{
    display: flex;
    text-overflow: clip;
    overflow-wrap: break-word;
    margin-top: 1rem;
    flex-direction: column;
    color: var(--text-color);
}

.article-page-container .article-title{
    text-align: center;
}

.article-page-container .author-name{
    
}

.article-page-container .article-description{
    display: inline-block;
    word-break: break-word;
}

