:root{
    --background-color: #0E0E0E;
    --lighter-background: #18181b;
    --light-blue:#2b90d9;
    --text-color:#9BAEC8;
    --input-color:#131419;
    --text-color-white: #fff;
    --text-color-black: black;
    --ligher-white: #eeeeee
  }
  
  

.page-container{
    width: 100%;
    margin: 0 auto;
    background-position: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-color: transparent;
    margin-top: 7px;
    overflow: auto;
    display: flex;
    justify-content: center;
    -webkit-transform: translate3d(0, 0, 0);

}
